#picker-wrap{
  height:660px!important;
}

[class^="celum-"], [class*=" celum-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'celum' !important;}


#selected-assets img{
  margin: 4px;
  border: solid 1px #aaaaaa;
  max-width: 100px;
  max-height:100px;
}
input[data-id="add_assets_celum_connect"]{
  display: none;
}

#added_assets_table, #edit-assets-table, input[name='field_celum_connect_add_more']{
  display: none;
}

#asset-picker-button{
  margin-top: 0.5em;
}

.celum_asset_picker_dialog .ui-dialog-titlebar{
  display: none;
}

#celum_asset_picker_dialog {
  padding: 0;
}
.preview-information {
  float:right;
  width: 70%;
}
.celum-connect-preview img{
  max-width: 15%;
  max-height:150px;
}
.celum-connect-preview.unknown{
  height: 50px;
  background: url('../img/file_icon.png') no-repeat;
}
.celum-connect-preview.video{
  height: 50px;
  background: url('../img/video_icon.png') no-repeat;
}
.celum-connect-preview.audio{
  height: 50px;
  background: url('../img/audio_icon.png') no-repeat;
}
.radio-inline{
  float:left;
  padding-left: 20px;
  padding-top:10px;
  padding-bottom:10px;
}
.radio-inline input{
  margin-right: 10px;
}